doctype html
html
    head
    body
        br
        br
        p Name - #{data.feedbacks[0].Name}
        p Number - #{data.feedbacks[0].Number}
        p Ticket - #{data.feedbacks[0].Ticket}
        p Dname - #{data.feedbacks[0].Categories}
        br
        p Feedback
        p #{data.feedbacks[0].Info}