doctype html
html
    head
        script.
            function validate()
            {
                if(document.getElementById('check').checked)
                {
                    var values = document.getElementById('check').name;
                    window.location.href='/admin/blockPharma?number='+values;
                }
                else
                {
                    var values = document.getElementById('check').name;
                    window.location.href = '/admin/unblockPharma?number=' + values;
                }
            }

    body
        h3 Admin/Account/Pharma
        br
        br


        h4 Total User Account - #{result.TotalPharma}
        br

        table
            h3 Name &nbsp&nbsp&nbsp&nbsp&nbsp Number &nbsp&nbsp&nbsp&nbsp&nbsp Profile &nbsp&nbsp&nbsp&nbsp&nbsp Block
            each data in result.PharmaData
                p
                    span #{data.name} &nbsp&nbsp
                    span #{data.number} &nbsp&nbsp&nbsp&nbsp
                    span
                        a(href="/admin/adminloginpage") Show Profile

                    span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    if(data.status == 'blocked')
                        input(id="check" onclick="validate()" type = "checkbox" name=data.number checked)
                    else
                        input(id="check" onclick="validate()" type = "checkbox" name=data.number)

