div.row
    div.col.s12.m12.l9.offset-l3
        img#drug(src='/images/drugsData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
        div#drugdata
            .col.s12.m12.l11.offset-l1
                br

                div.row
                    div.drug_alphabets.pull-left
                        span.center
                            ul
                                li.active
                                    a.btn2.all.hoverable(href='/health/health_care_provider?page=disease_data' type='all') All
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') A
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') B
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') C
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') D
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') E
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') F
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') G
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') H
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') I
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') J
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') K
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') L
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') M
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') N
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') O
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') P
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') Q
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') R
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') S
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') T
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') U
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') V
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') W
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') X
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') Y
                                li
                                    a.btn2.hoverable(href='/health/health_care_provider?page=disease_data') Z
                                li
                                    a.btn2.all.hoverable(href='/health/health_care_provider?page=disease_data' type='other') Other

        div.col.s12.m12.l12
            div.col.grey.lighten-3.s12.m8.l8.offset-l1
                 //-var val = data.disease
                 each val in data.disease
                    h3.about#data_name #{val.disease_name.toUpperCase()}
                    if(val.symptoms)
                        .section.scrollspy#symptoms
                            h5.bold  What are the Symptoms of #{val.disease_name.toUpperCase()}?
                            each other,index in val.symptoms
                                p
                                    span.bold= other
                                    span.small_font.left ►
                    if(val.risk_factor)
                        .section.scrollspy#risk
                            h5.bold Who is at Risk for #{val.disease_name.toUpperCase()}?
                            span.next_line.small_font #{val.risk_factor}
                    if(val.cause)
                        .section.scrollspy#cause
                            h5.bold What Causes #{val.disease_name.toUpperCase()}?
                            span.next_line.small_font #{val.cause}
                    if(val.diagnosis)
                        .section.scrollspy#diagnosis
                            h5.bold  How is #{val.disease_name.toUpperCase()} Diagnosed?
                            each other,index in val.diagnosis.subhead
                                //each sub, index in other.subhead
                                p
                                    span.bold= other
                                    span.small_font.left ►
                                span.next_line.small_font= val.diagnosis.info[index]

                    if(val.organs)
                        .section.scrollspy#organs
                            h5.bold  Which Organs are affected by #{val.disease_name.toUpperCase()}?
                            each other,index in val.organs.subhead
                                    //each sub, index in other.subhead
                                    p
                                        span.bold= other
                                        span.small_font.left ►
                                    span.next_line.small_font= val.organs.info[index]

                    if(val.treatment)
                        .section.scrollspy#treatment
                            h5.bold How is #{val.disease_name.toUpperCase()} Treated?
                            span.next_line.small_font #{val.treatment}
                    if(val.outlook)
                        .section.scrollspy#outlook
                            h5.bold What is the Outlook for #{val.disease_name.toUpperCase()}?
                            span.next_line.small_font #{val.outlook}
                    if(val.prevention)
                        .section.scrollspy#prevention
                            h5.bold How can #{val.disease_name.toUpperCase()} be Prevented?
                            span.next_line.small_font #{val.prevention}
                    h5.section.scrollspy#source Source:&nbsp
                        br
                        span.next_line #{val.source}
                    //div.col.s12.m12.l12.grey.lighten-1
                    h5.right
                        span.small_font Information Submitted By :-
                        br
                        span.to_capital #{data.titles} #{data.names}

            div.col.l3.m4.hide-on-small-only
                ul.section.table-of-contents(style='position:fixed;padding-bottom:10px;')
                    li
                        a(href='#symptoms') Symptoms
                    li
                        a(href='#risk') Risk Factors
                    li
                        a(href='#cause') Causes
                    li
                        a(href='#diagnosis') Diagnosis
                    li
                        a(href='#organs') Effect on Organs
                    li
                        a(href='#treatment') Treatment
                    li
                        a(href='#outlook') Outlook
                    li
                        a(href='#prevention') Prevention
                    li
                        a(href='#source') Source of Information

            //div
            //    div.col.s12.l12.m12
            //        span Information Submitted By:-

        div
            br
            br
            div.col.s12.l12.m12.grey.lighten-1(style='padding:5px;margin-top:20px')
                a.black-text.modal-trigger(href='#modal2') <strong>Give a Feedback on the above data</strong>
                    i.material-icons.left.black-text feedback
        div.modal#modal2
            div.modal-content
                h4.center.teal-text.darken-2 Your Feedback is valuable...
                form.col.l10.m10.s10#form_feedback(method='POST' action='/health/health_care_provider?page=disease_data')
                    div
                        each val in data.disease
                            input#about(type="hidden" value='Disease Data-' + (val.disease_name.toUpperCase()))
                        span How useful is the data that we provide?
                        br
                        br
                        input.with-gap#radio1(name='radio1_feedback' type='radio' value='Very Useful' checked)
                        label(for='radio1') Very Useful&nbsp
                        input.with-gap#radio2(name='radio1_feedback' type='radio' value='Useful')
                        label(for='radio2') Useful&nbsp
                        input.with-gap#radio3(name='radio1_feedback' type='radio' value='Average')
                        label(for='radio3') Average&nbsp
                        input.with-gap#radio4(name='radio1_feedback' type='radio' value='Not Useful')
                        label(for='radio4') Not Useful&nbsp
                        input.with-gap#radio5(name='radio1_feedback' type='radio' value='Not Useful At All')
                        label(for='radio5') Not Useful At All

                    br
                    div.input-field
                        span Suggest changes in data(if any)
                        textarea#suggestion(style='height:90px;' required)
                        label(for='suggestion')
                    br

                    div.row
                        div.col.s6.l4.m4.offset-l1
                            input.reset(type='reset')
                        div.col.s6.l4.m4.offset-l3
                            input.button#submit_feedback(type='submit')
