//- .............PROFILE STEP 3 FOR STUDENTS...........

div.collection#main_profile_student
    div.collection-item.dismissable
        div.row
            .col.s12.m12.l9.offset-l3
                h5.bold.title1.to_capital(style='font-size: 25px') Dr. #{data[0].name}
                //br
                //span.flow-text Profile is not complete yet
    //div.collection-item.dismissable
    //    div.row
    //        div.col.s12.m12.l9.offset-l3
    //            div.col.s6.m3.l3
    //                span.flow-text Profile Completeness
    //            div.col.s6.m5.l5.offset-l4.offset-m4
    //                a.btn.white-text.right(href='#' style='background-color:#660099') Edit Profile
    //            br
    //            br
    //            div#test-slider
    div.collection-item
        div.row
            div.col.s12.m12.l9.offset-l3
                h5.center Complete Your Profile in 3 Easy steps
                ul.tabs
                    li.tab.active.col.s4
                        a.white-text.darken-5#tab1(href='#basic_detail') Basic Details
                    li.tab.col.s4
                        a.white-text.darken-5#tab2(href='#edu_special') Education & Specialization
                    li.tab.col.s4
                        a.white-text.darken-5#tab3(href='#register_doc') Documents

    div.row#basic_detail
        div.col.m12.l10.s12.offset-l2
            div.col.s12.m12.l10.offset-l2
                div.input-field.col.s12.m8.l8
                    h3 Personal Details

                div.col.s12.m4.l4
                    form(action='/upload', method='post', accept-charset='utf-8', enctype='multipart/form-data')
                        span Upload Your Profile Pic
                        br
                        img(src="{{url}}", alt="Profile image")
                        input(type='file', name='image')
                        input.button(type='submit' name='submit' value='UPLOAD')

        br
        br
        br
        br

        div.col.m12.l10.s12.offset-l2
            div.col.s12.m12.l10.offset-l2
                form(name='form_basic_details' id='basic_profile' enctype="multipart/form-data" method='POST' action='#tab2')
                    div.input-field.col.s12.m4.l4
                        span
                            | Title
                            input#title(type='text' value='Dr.' readonly)
                    div.input-field.col.s12.m4.l4
                        span
                            | Name
                            input#name(type="text" value=data[0].name)

                    div.col.s12.m4.l4
                        br
                        span Gender:
                            br
                            div#gender
                                if((data[0].gender == null) || (data[0].gender == "Male"))
                                    input.with-gap#g1(name="gender" type="radio" value="Male" checked)
                                    label(for='g1') Male&nbsp
                                    input.with-gap#g2(name="gender" type="radio" value='Female')
                                    label(for='g2') Female&nbsp
                                    input.with-gap#g3(name="gender" type="radio" value="Other" )
                                    label(for="g3") Other
                                if(data[0].gender == "Female")
                                    input.with-gap#g1(name="gender" type="radio" value="Male" )
                                    label(for='g1') Male&nbsp
                                    input.with-gap#g2(name="gender" type="radio" value='Female' checked)
                                    label(for='g2') Female&nbsp
                                    input.with-gap#g3(name="gender" type="radio" value="Other" )
                                    label(for="g3") Other
                                if(data[0].gender == "Other")
                                    input.with-gap#g1(name="gender" type="radio" value="Male" )
                                    label(for='g1') Male&nbsp
                                    input.with-gap#g2(name="gender" type="radio" value='Female')
                                    label(for='g2') Female&nbsp
                                    input.with-gap#g3(name="gender" type="radio" value="Other" checked)
                                    label(for="g3") Other
                                br
                                br


                    div.row
                        div.col.s12.m12.l12
                            h3 Contact Details
                            div.row
                                div.input-field.col.s12.m6.l6
                                    span
                                        | Mobile Number &nbsp
                                        span#f1(style='color:#660099;') Verified
                                            i.material-icons.left(style='color:#660099;') done
                                        input#mobNo(type='text', value=data[0].number readonly)
                            div.row
                                div.input-field.col.s12.m6.l6
                                    span
                                        | Email ID  &nbsp
                                        span#f2(style='color:#660099;')
                                            i.material-icons.left(style='color:#660099;') close
                                        input#email(type='email', value=data[0].email)
                    div.row
                        div.col.s6.m4.l3.offset-l3.offset-m2
                            input.reset(type='reset')
                        div.col.s6.m4.l3
                            input.button#basic_details(type='submit' value='Submit' href='#edu_special')


    div#edu_special
        div.row
            div.col.s12.m12.l9.offset-l3
                form(name='form_education_specialization' method='POST' action='#')
                    h3 Education & Specialization Details
                    div.input-field.col.s12.m6.l6
                        span
                            | Qualification
                            input#qualification(type='text', value=data[0].qualification  required)
                    div.input-field.col.s12.m6.l6
                        span
                            | College Name
                            input#college(type='text' , value=data[0].college required)
                    div.row
                        div.col.s12.m12.l12

                            h5
                                | Batch
                            div.input-field.col.s6.m6.l6
                                h6 From
                                    input#batch_from(type='text' placeholder='yyyy eg. 2010' , value=data[0].batch_from required)
                            div.input-field.col.s6.m6.l6
                                h6 To
                                    input#batch_to(type='text' placeholder='yyyy eg. 2014' , value=data[0].batch_to required)
                    div.row
                        div.col.s12.m12.l12
                            div.input-field.col.s12.m6.l6
                                span
                                    | Specialization
                                    input#specialization(type='text' value=data[0].specialization)



                    div.col.s6.m4.l3.offset-l4.offset-m2
                        input.reset(type='reset')
                    div.col.s6.m4.l3
                        input.button#education(type='submit' value='Submit' href='#register_doc')



    div#register_doc
        div.row
            div.col.s12.m12.l9.offset-l3
                form.upload_image2(action="#" , method='post' , enctype='multipart/form-data')
                    div.col.s12.m12.l12
                        h3 Documents
                        br
                        div.row
                            h5.flow-text Please Upload your Documents

                            li Aadhar Card/Driving Licence/Voter ID
                            br
                            div.col.s12.m12.l12
                                div.file-field.input-field
                                    div.btn.waves-effect.waves-light
                                        span Browse
                                        input#image1(type="file", name='myimage')
                                    div.file-path-wrapper
                                        div.col.s12.m6.l6
                                            input.file-path.validate(type="text")
                                        div.col.s12.m6.l6
                                            img(src="" alt="Document image")

                    div.col.s6.m4.l3.offset-l3.offset-m2
                        input.reset(type='reset')
                    div.col.s6.m4.l3
                        input.button#certificate(type='submit' value='Submit' href='/health/health_care_provider?page=home')
